<h1 class="text-center text-white my-10 text-2xl uppercase px-4">My teams : Team's victory is my victory</h1>

  <section class="max-w-6xl mx-auto mt-10 px-5">

    <div class="overflow-x-auto rounded-lg">
 
          <table class="w-full">

            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-4 text-left text-md font-medium text-gray-800 uppercase tracking-wider">Rank</th>
                <th class="border-l border-slate-400 px-6 py-4 text-left text-md font-medium text-gray-800 uppercase tracking-wider">Team competitions</th>
                <th class="border-l border-slate-400 px-6 py-4 text-left text-md font-medium text-gray-800 uppercase tracking-wider">Members</th>
                <th class="border-l border-slate-400 px-6 py-4 text-left text-md font-medium text-gray-800 uppercase tracking-wider">Format</th>
              </tr>
            </thead>
            
            <tbody>

              <tr class="bg-gray-200">
                <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">1.</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Interclub Gold</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">4</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Fischer</td>
              </tr>
  

              <tr class="bg-white">
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">2.</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Interclub V</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">4</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Fischer</td>
              </tr>
              
              <tr class="bg-gray-200">
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">3.</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Interclub</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">8</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Semi-slow</td>
              </tr>
  

              <tr class="bg-white">
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">4.</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">interclub</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">4</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Rapid</td>
              </tr>
              
              <tr class="bg-gray-200">
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">5.</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Interclub Silver</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">8</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Fischer</td>
              </tr>
  

              <tr class="bg-white">
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">6.</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">National IV</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">4</td>
                <td class="border-l border-slate-400 px-6 py-4 whitespace-nowrap text-lg text-gray-800">Fischer</td>
              </tr>
              


            </tbody>
          </table>
     
    
    </div>
  </section>
