<main class="pt-16 pb-20 px-4 max-w-7xl mx-auto sm:px-6 lg:pb-28 lg:px-8">


    <!--* The inner a links #tags shall redirect to home with the '#tag search', if a contact or organisator is clicked, it will trigger a search with the string -->
    <h2 class="text-3xl tracking-wide font-extrabold text-center sm:text-5xl">
      My tournaments : To not miss !
    </h2>
    <p class="mt-3 mx-auto text-xl text-gray-300 text-center sm:mt-4">May the force be with me</p>

    <ul role="list" class="mt-10 max-w-lg mx-auto">

      <li class="relative mt-5 p-6 bg-yellow-200 text-gray-900 rounded shadow-md transition-transform hover:-translate-y-2 will-change-transform">
        <a routerLink="['/tour-details', 2]" class="absolute w-full h-full inset-0"></a>
        <h3 class="flex justify-between align-center">
          <span class="text-xl mb-2 font-medium">Tournament name</span>
          <span class="relative top-[6px] pl-4 text-sm">1day ago</span>
        </h3>
        <a routerLink="['/', tour.format]" class="relative z-10">#rapid</a>
        <a routerLink="['/', tour.contact]" class="relative z-10">#ligueIDF</a>
      </li>

      <li class="relative mt-5 p-6 bg-yellow-200 text-gray-900 rounded shadow-md transition-transform hover:-translate-y-2 will-change-transform">
        <a routerLink="['/tour-details', tour.id]" class="absolute w-full h-full inset-0"></a>
        <h3 class="flex justify-between align-center">
          <span class="text-xl mb-2 font-medium">Tournament name</span>
          <span class="relative top-[6px] pl-4 text-sm">1d ago</span>
        </h3>
        <a href="#" class="relative z-10">#blitz</a>
      </li>

      <li class="relative mt-5 p-6 bg-gradient-to-r from-violet-500 to-fuchsia-500 text-gray-200 rounded shadow-md transition-transform hover:-translate-y-1 will-change-transform">
        <a href="#" class="absolute w-full h-full inset-0"></a>
        <h3 class="flex justify-between align-center">
          <span class="text-xl mb-2 font-medium">Tournament name</span>
          <span class="relative top-[6px] pl-4 text-sm">1d ago</span>
        </h3>
        <a href="#" class="relative z-10">#tour.format</a>
      </li>

      <li class="relative mt-5 p-6 bg-cyan-300 text-gray-900 rounded shadow-md transition-transform hover:-translate-y-1 will-change-transform">
        <a href="#" class="absolute w-full h-full inset-0"></a>
        <h3 class="flex justify-between align-center">
          <span class="text-xl mb-2 font-medium">Tournament name</span>
          <span class="relative top-[6px] pl-4 text-sm">1d ago</span>
        </h3>
        <a href="#" class="relative z-10">#FFE</a>
      </li>


      <li class="relative mt-5 p-6 bg-gradient-to-r from-violet-500 to-fuchsia-500 text-gray-200 rounded shadow-md transition-transform hover:-translate-y-1 will-change-transform">
        <a  class="absolute w-full h-full inset-0"></a>
        <h3 class="flex justify-between align-center">
          <span class="text-xl mb-2 font-medium">Tournament name</span>
          <span class="relative top-[6px] pl-4 text-sm">1d ago</span>
        </h3>
        <a routerLink="['/', tour.format]"class="relative z-10">#FIDE</a>
      </li>

    </ul>
    <div class="max-w-lg mx-auto">
      <button class="px-4 py-2 mt-5 font-semibold text-sm  rounded-sm shadow-sm ring ring-zinc-400 hover:ring-cyan-700">
        Load more...
      </button>
    </div>
  </main>
